.bash_history
.gitconfig
.ssh
.ssh/
*.pyc
*.log
*.dump
package-lock.json
.vscode-server/
media/
.cache/
.local/
.pylint.d/
/media/
cache/
node_modules/
*/node_modules/*
.fuse_*
__pycache__/
env/
venv/
__env_svue/
.idea/
.vscode/
.config/
.bash_logout
.bash_profile
.bashrc
.editorconfig
logs/
.npm
.nvm
.env
.pki
_